.container {
    background-color: rgb(166, 230, 101);
    display: flex;
    column-gap: 200px;
}

.orange {
    height: 100px;
    width: 100px;
    color: white;
    background-color: rgb(208, 14, 59);
    margin-left: 100px;
}

.black{
    height: 100px;
    width: 100px;
    color: white;
    background-color: black;
}